name: Node.js CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository code
      uses: actions/checkout@v2
    
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '21'

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build

    # Authenticate with Google Cloud Artifact Registry
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: 'projects/${{ env.GCP_PROJECT }}/locations/global/workloadIdentityPools/${{ env.GCP_POOL_ID }}/providers/${{ env.GCP_PROVIDER_ID }}'
        service_account: ${{ secrets.GCP_SA_EMAIL }}
  
      env:
        GCP_SA_EMAIL: ${{ secrets.GCP_SA_EMAIL }}
        GCP_PROJECT: ${{ env.GCP_PROJECT }}
        GCP_PROVIDER_ID: ${{ env.GCP_PROVIDER_ID }}
        GCP_POOL_ID: ${{ env.GCP_POOL_ID }}

    # Configure Docker to use the gcloud command-line tool as a credential helper
    - name: Configure Docker
      run: gcloud auth configure-docker ${{ env.GCP_REGION }}-docker.pkg.dev
      env:
        GCP_REGION: ${{ env.GCP_REGION }}

    # Build and push the Docker image to Google Cloud Artifact Registry
    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      run: |
        docker build -t ${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.GCP_PROJECT }}/${{ env.GCP_REPO }}/${{ env.DOCKER_IMAGE }}:${{ github.sha }} .
        docker push ${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.GCP_PROJECT }}/${{ env.GCP_REPO }}/${{ env.DOCKER_IMAGE }}:${{ github.sha }}
      env:
        GCP_PROJECT: ${{ env.GCP_PROJECT }}
        GCP_REGION: ${{ env.GCP_REGION }}
        GCP_REPO: ${{ env.GCP_REPO }}
        DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}

    # Deploy the image to Google Cloud Run
    - name: Deploy to Cloud Run
      if: github.ref == 'refs/heads/main'
      run: |
        gcloud run deploy galactic-prices-gcloud-service --image ${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.GCP_PROJECT }}/${{ env.GCP_REPO }}/${{ env.DOCKER_IMAGE }}:${{ github.sha }} --platform managed --region ${{ env.GCP_REGION }} --project ${{ env.GCP_PROJECT }}
      env:
        GCP_SA_EMAIL: ${{ secrets.GCP_SA_EMAIL }}
        GCP_PROJECT: ${{ env.GCP_PROJECT }}
        GCP_REGION: ${{ env.GCP_REGION }}
        GCP_REPO: ${{ env.GCP_REPO }}
        DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}

