name: Node.js CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository code
      uses: actions/checkout@v2
    
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '21'

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build

    # Authenticate with Google Cloud Artifact Registry
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: projects/${{ secrets.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/${{ secrets.GCP_POOL_ID }}/providers/${{ secrets.GCP_PROVIDER_ID }}
        service_account: ${{ secrets.GCP_SA_KEY }}
        #token_format: access_token
      env:
        GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        GCP_PROJECT_NUMBER: ${{ secrets.GCP_PROJECT_NUMBER }}
        GCP_POOL_ID: ${{ secrets.GCP_POOL_ID }}
        GCP_PROVIDER_ID: ${{ secrets.GCP_PROVIDER_ID }}
        GCP_AUDIENCE: ${{ secrets.GCP_AUDIENCE }} 

    # Configure Docker to use the gcloud command-line tool as a credential helper
    - name: Configure Docker
      run: gcloud auth configure-docker ${{ secrets.GCP_REGION }}-docker.pkg.dev
      env:
        GCP_REGION: ${{ secrets.GCP_REGION }}

    # Build and push the Docker image to Google Cloud Artifact Registry 
    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      run: |
        docker build -t ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_REPO }}/${{ secrets.DOCKER_IMAGE }}:${{ github.sha }} .
        docker push ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_REPO }}/${{ secrets.DOCKER_IMAGE }}:${{ github.sha }}
      env:
        GCP_PROJECT: ${{ secrets.GCP_PROJECT }}
        GCP_REGION: ${{ secrets.GCP_REGION }}
        GCP_REPO: ${{ secrets.GCP_REPO }}
        DOCKER_IMAGE: ${{ secrets.DOCKER_IMAGE }} 

    # Deploy the image to Google Cloud Run
    - name: Deploy to Cloud Run
      if: github.ref == 'refs/heads/main'
      run: |
        gcloud run deploy galactic-prices-gcloud-service --image ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_REPO }}/${{ secrets.DOCKER_IMAGE }}:${{ github.sha }} --platform managed --region ${{ secrets.GCP_REGION }} --project ${{ secrets.GCP_PROJECT }}
      env:
        GCP_PROJECT: ${{ secrets.GCP_PROJECT }}
        GCP_REGION: ${{ secrets.GCP_REGION }}
        GCP_REPO: ${{ secrets.GCP_REPO }}
        DOCKER_IMAGE: ${{ secrets.DOCKER_IMAGE }}

